* {
    padding: 0;
    margin: 0;
    background-color: #161616;
}

.main-header {
    padding: 34px 120px 12px;
    width: 1680px;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 210px;
}

.main-logo {
    width: 142px;
    height: 35px;
    /* display: block; */
}

.main-navigation {
    width: 413px;
    height: 39px;
}

.navigation-list {
    display: flex;
    font-size: 16px;
    list-style: none;
    justify-content: space-between;
}

.navigation-item {
    padding: 11.2px 16px;
}

.navigation-item a {
    color: #c4c4c4;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

#to-buy {
    border: 1px solid #ffffff;
    border-radius: 25px;
}

.promo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.promo-block {
    position: relative;
    display: flex;
    width: 570px;
    height: 400px;
    color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    
}

.promo-big-logo {
    position: absolute;
    content: '';
    z-index: 0;
    top:-20%;
    left:0%;

}

.promo-name {
    display: block;
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    line-height: 60px;
    letter-spacing: -4%;
    content: '';
}

.promo-name.first-stroke{
    display: block;
    position: relative;
    margin-bottom: 23px;
    
}  

.promo-info-block {
    width: 240px;
    height: 76px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.promo-info-block h4 {
    /* display: inline-block; */
    position: relative;
    margin-bottom: 12px;
    text-transform: uppercase;
    z-index: 2;
}

.promo-info-block p {
    /* display: inline-block; */
    position: relative;
    margin-bottom: 44px;
    text-transform: uppercase;
    z-index: 2;
}


.to-order {
    position: relative;
    display: block;
    width: 210px;
    color: #ffffff;
    text-decoration:none ;
    font-weight: 300;
    padding: 24px 48px;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    z-index: 2;
}

.promo-photo-player {
    position: relative;
    width: 600px;
}

.promo-main-photo {
    position: relative;
    z-index: 2;
}

.promo-photo-one {
    position: absolute;
    top: -5%;
    left: 10%;
    z-index: 1;
    content: '';
}


.socials-and-button {
    padding: 0 120px;
    display: block;
    width: 1680px;
    display:flex;
    justify-content: space-between;
}

.bottom-button {
   text-transform: uppercase; 
   text-decoration: none;
   color: #F7F7F7;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    gap:15px;
    list-style: none;
    width: 400px;
    

}

.socials-item a{
    
    text-decoration: none;
    color: #F7F7F7;
}