* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #161616;
}

/* MAIN HEADER */

.main-header {
    box-sizing: border-box;
    padding: 24px 120px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}

.main-logo {
    width: 142px;
    height: 35px;
}

.main-navigation {
    width: 413px;
    height: 39px;
}

.navigation-list {
    display: flex;
    font-size: 16px;
    list-style: none;
    justify-content: space-between;
}

.navigation-item {
    background: transparent !important;
    padding: 11.2px 16px;
}

.navigation-item a {
    background: transparent;
    color: #c4c4c4;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

#to-buy {
    border: 1px solid #ffffff;
    border-radius: 25px;
}

/* PROMO */

.promo {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

.promo-block {
    position: relative;
    display: flex;
    width: 570px;
    height: 400px;
    color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
}

.promo-name-block {
    position: relative;
    width: 100%;
    height: 100%;
}

.promo-big-logo {
    position: absolute;
    content: '';
    z-index: 0;
    top: -60px;
    left: -20px;
}

.promo-name-one {
    display: block;
    position: relative;
    z-index: 3;
    position: absolute;
    background: transparent;
    width: max-content;
    left: -110px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    top: -70px;
}

.promo-name {
    display: block;
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
    line-height: 60px;
    letter-spacing: -3px;
    content: '';
    background: transparent;
    top: 68px;
    left: 320px;
    z-index: 3;
}

.promo-info-block {
    top: -70px;
    position: relative;
    width: 240px;
    height: 76px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.promo-info-block h4 {
    position: relative;
    margin-bottom: 12px;
    text-transform: uppercase;
    z-index: 2;
}

.promo-info-block p {
    position: relative;
    margin-bottom: 44px;
    text-transform: uppercase;
    z-index: 2;
    font-weight: 300;
}

.promo-info {
    width: 240px;
    height: 48px;
}

.to-order {
    position: relative;
    display: block;
    width: 210px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    padding: 24px 48px;
    border: 1px solid #ffffff;
    border-radius: 35px;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    z-index: 2;
}

.promo-photo-player {
    position: relative;
    width: 600px;
}

.promo-main-photo {
    position: relative;
    z-index: 2;
}

.promo-photo-one {
    position: absolute;
    top: -5%;
    left: 10%;
    z-index: 1;
    content: '';
}

.socials-and-button {
    position: relative;
    top: 160px;
    padding: 0 120px;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-button {
    text-transform: uppercase;
    text-decoration: none;
    color: #f7f7f7;
}

.socials-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
    width: 450px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.socials-item a {
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
    color: #f7f7f7;
}

.socials-item a:hover {
    text-decoration: underline;
}

/* QUARTET BIO  */

.quartet-bio {
    padding: 0 120px;
    margin-bottom: 80px;
}

.bio-title {
    color: #f7f7f7;
}

.bio-title h2 {
    font-family: 'Inter', sans-serif;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
}

.bio-title p {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 80px;
}

.quartet-bio-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f7f7f7;
    gap: 30px;
    flex-wrap: wrap;
}

.quartet-bio-item {
    padding: 12px;
    background-color: #1f1f1f;
    border-radius: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 400px;
}

/* MUSIC PLAYER FULL */

.video-table {
    padding: 0 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.video-table-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.video-table p {
    font-family: 'Inter', sans-serif;
    color: #f7f7f7;
}

.track-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.track-artist {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 15px;
}

/* ADVANTAGES */

.advantages {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    color: #f7f7f7;
    gap: 80px;
    margin-bottom: 250px;
}

.advantages-item {
    display: flex;
    justify-content: space-between;
    gap: 300px;
}

.adv-item-left-side {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    min-width: 300px;
    max-width: 300px;
}

.adv-item-right-side {
    /* justify-content: space-between; */
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Inter', sans-serif;
    gap: 15px;
    min-width: 750px;
    max-width: 750px;
}

/* .adv-item-right-side p {
    min-width: 470px;
    min-height: 280px;
} */

.advantages-item .number {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
}

.advantages-item .adv-name {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.advantages-item .adv-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Inter', sans-serif;
}

.advantages-item .adv-description span {
    font-style: italic;
    font-weight: 300;
}

/* Music player */

.music-player {
    margin-bottom: 200px;
}

.audio-player {
    padding: 0 120px;
}

.promo-player {
    margin: 0 auto;
    padding: 30px;
    width: 350px;
    height: 450px;
    background-color: #56709c;
    border-radius: 20px;
    box-shadow: 0 0 20px #56709c;
    color: #fff;
}

.song-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
}

.artist-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

.music-background {
    position: relative;
    margin: 40px auto;
    display: block;
    width: 180px;
    height: 180px;
    /* background-image: url(images//player/metel.jpeg); */
    background-size: cover;
    box-shadow: 0 0 8px 4px #303c54;
    border-radius: 20px;
}

.song-slider {
    position: relative;
    width: 100%;
}

.seek-bar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn {
    margin: 0 10px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    /* background: url(images/play-button.png); */
    /* url(images/pause.png) */
    background-size: cover;
    /* border: none; */
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10px;
    height: 30px;
    transform: translateY(-50%);
    border-radius: 2px;
    background: #5f7a61;
    transition: 0.4s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scale(0);
}

.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* ATTITUDE */

.attitude {
    padding: 150px 120px;
    display: flex;
    flex-direction: column;
    color: #f7f7f7;
    font-family: 'Inter', sans-serif;
    gap: 228px;
}

.attitude-title {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.attitude-title h2 {
    font-weight: 700;
    font-size: 150px;
    line-height: 126px;
    text-transform: uppercase;
    vertical-align: middle;
}

.attitude-title p {
    font-size: 24px;
    line-height: 34px;
    vertical-align: middle;
}

.attitude-number {
    background-color: transparent;
    min-width: 300px;
    max-width: 350px;
    padding: 115px 125px;
    box-sizing: border-box;
}

.attitude-items {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 450px;
}

.attitude-item {
    display: flex;
    align-items: center;
}

.attitude-item-title {
    position: absolute;
    content: '';
    top: -35px;
    left: -35px;
    text-transform: uppercase;
}

.attitude-item-description {
    position: relative;
    min-width: 400px;
    max-width: 650px;
}

/* FORM */

#contact-us-form {
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    /* max-height: 600px; */
    /* width: 100vw; */
}

#contact-us-form header {
    color: white;
    font-size: 140px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    line-height: 126px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 160px;
}

#contact-us-form form {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding-right: 450px;
}

textarea {
    resize: vertical;
}

input,
textarea {
    color: #ddd;
    outline: none;
    border: none;
    border-bottom: 2px solid #afafaf;
    background-color: transparent;
    transition: all 400ms ease-in-out;
}

input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

input:hover,
textarea:hover {
    border-bottom: 2px solid #ddd;
}

input:focus,
textarea:focus {
    color: white;
    border-color: white;
}

.input-field {
    width: calc(100% / 2 - 30px);
    padding: 0;
    /* padding-left:12px; */
}

.input-fields-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% / 2 - 30px);
}

.input-fields-small input {
    width: 100%;
    box-sizing: border-box;
}

.submit-btn input {
    padding: 12px 50px;
    border-radius: 25px;
    margin: 25px;
    color: white;
    max-width: 200px;
    position: absolute;
    bottom: -150px;
    left: -30px;
    content: '';
    /* top: 550px;
    left: 90px;
    
    
    /* margin-left: 200px; */
}

/* UP-BUTTON */

.up-button {
    width: 150px;
    height: 150px;
}

/* FOOTER */

.main-footer {
    padding: 80px 120px 0;
    display: flex;
    flex-direction: column;
    color: #f7f7f7;
    gap: 170px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-info-text {
    font-size: 42px;
    font-family: 'Inter', sans-serif;
    line-height: 51px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-info-text span {
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 400;
}

.footer-info .all-rights {
    margin-top: auto;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.footer-logo {
    margin: auto;
    margin-bottom: 90px;
}
