/* Music player */

.our-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.music-player {}

.audio-player {
    padding: 0 120px;
}

.promo-player {
    margin: 0 auto;
    padding: 30px;
    width: 350px;
    height: 450px;
    background-color: #56709c;
    border-radius: 20px;
    box-shadow: 0 0 20px #56709c;
    color: #fff;
}

.song-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
}

.artist-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

.music-background {
    position: relative;
    margin: 40px auto;
    display: block;
    width: 180px;
    height: 180px;
    /* background-image: url(images//player/metel.jpeg); */
    background-size: cover;
    box-shadow: 0 0 8px 4px #303c54;
    border-radius: 20px;
}

.song-slider {
    position: relative;
    width: 100%;
}

.seek-bar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn {
    margin: 0 10px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    /* background: url(images/play-button.png); */
    /* url(images/pause.png) */
    background-size: cover;
    /* border: none; */
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10px;
    height: 30px;
    transform: translateY(-50%);
    border-radius: 2px;
    background: #5f7a61;
    transition: 0.4s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scale(0);
}

.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}