/* Music player */

.our-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.music-player {}

.audio-player {
    padding: 0 120px;
}

.promo-player {
    margin: 0 auto;
    padding: 30px;
    width: 350px;
    height: 500px;
    background-color: #56709c;
    border-radius: 20px;
    box-shadow: 0 0 20px #56709c;
    color: #fff;
}

.song-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 10px;
}

.artist-name {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

.music-background {
    position: relative;
    margin: 40px auto;
    display: block;
    width: 180px;
    height: 180px;
    /* background-image: url(images//player/metel.jpeg); */
    background-size: cover;
    box-shadow: 0 0 8px 4px #303c54;
    border-radius: 20px;
}

.song-slider {
    position: relative;
    width: 100%;
}

.seek-bar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn {
    margin: 0 10px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    /* background: url(images/play-button.png); */
    /* url(images/pause.png) */
    background-size: cover;
    /* border: none; */
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 10px;
    height: 30px;
    transform: translateY(-50%);
    border-radius: 2px;
    background: #5f7a61;
    transition: 0.4s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scale(0);
}

.btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#interactive-songs-container {
    box-sizing: border-box;
    max-width: 1024px;
    background-color: #121212;
    padding: 18px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    position: relative;
}

#interactive-songs-container header {
    background: #1F1F1F;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    margin-bottom: 12px;
}

#interactive-songs-container h5 {
    font-size: 24px;
}

#interactive-songs-container menu {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

#interactive-songs-container menu .actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

#interactive-songs-container button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

#interactive-songs-container button:hover {
    opacity: 1;
}

#interactive-songs-container .volume-slider {
    display: flex;
    gap: 12px;
    align-items: center;
}

#interactive-songs-container img.album-cover {
    border-radius: 12px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    object-position: top;
}

#interactive-songs-container .song-item:hover {
    opacity: 0.9;
}

#interactive-songs-container .song-item {
    cursor: pointer;
    flex: 1 1 100%;
    padding-left: 64px;
}

#interactive-songs-container .song-item img {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    object-fit: cover;
    position: absolute;
    left: 18px;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    background: transparent;
}

.play-button[data-playing="true"] .pause-image {
    display: inline;
}

.play-button[data-playing="true"] .play-image {
    display: none;
}

.play-button[data-playing="false"] .play-image {
    display: inline;
}

.play-button[data-playing="false"] .pause-image {
    display: none;
}